<div class="row">

    <div class="col-md-2">
        <blockquote>
            <p>LEAP Option:</p>
        </blockquote>

    </div>

    <div class="col-md-10">
        {% for leapLink in leapLinks %}
            {% if leapLink.url == '#' %}
                <a class="btn btn-default disabled marginbottom4px">
                    {% if leapLink.leap == 1 %}
                        <b>ONLY LEAP</b>
                    {% elseif leapLink.leap == -1 %}
                        <b>NO LEAP</b>
                    {% else %}
                        <b>ANY TYPE</b>
                    {% endif %}
                </a>
            {% else %}
                <a class="btn btn-default marginbottom4px"
                   href="{{ path('jack_find_cycle_result_findbyspecific',
                   {'action': leapLink.url, 'symbol': symbol,
                   'weekNo': parameters.weekNo, 'month': parameters.month,
                   'leap': leapLink.leap, 'weekly': parameters.weekly,
                   'mini': parameters.mini, 'year': parameters.year}) }}">

                    {% if leapLink.leap == 1 %}
                        ONLY LEAP
                    {% elseif leapLink.leap == -1 %}
                        NO LEAP
                    {% else %}
                        ANY OPTIONS
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
