<div class="row">
    <div class="col-md-2">
        <blockquote>
            <p>Mini:</p>
        </blockquote>
    </div>

    <div class="col-md-10">
        {% for miniLink in miniLinks %}
            {% if miniLink.url == '#' %}
                <a class="btn btn-default marginbottom4px disabled">
                    {% if miniLink.mini == 1 %}
                        <b>ONLY MINI</b>
                    {% elseif miniLink.mini == -1 %}
                        <b>NO MINI</b>
                    {% else %}
                        <b>ANY TYPE</b>
                    {% endif %}
                </a>

            {% else %}
                <a class="btn btn-default marginbottom4px"
                   href="{{ path('jack_find_cycle_result_findbyspecific',
                   {'action': miniLink.url, 'symbol': symbol,
                   'weekNo': parameters.weekNo, 'month': parameters.month,
                   'leap': parameters.leap, 'weekly': parameters.weekly,
                   'mini': miniLink.mini, 'year': parameters.year,
                   }) }}">
                    {% if miniLink.mini == 1 %}
                        ONLY MINI
                    {% elseif miniLink.mini == -1 %}
                        NO MINI
                    {% else %}
                        ANY TYPE
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>





