<div class="row">

    <div class="col-md-2">
        <blockquote>
            <p>Weekly:</p>
        </blockquote>

    </div>

    <div class="col-md-10">
        {% for weeklyLink in weeklyLinks %}
            {% if weeklyLink.url == '#' %}
                <a class="btn btn-default disabled marginbottom4px" href="#">
                    {% if weeklyLink.weekly == 1 %}
                        <b>WEEKLY ONLY</b>
                    {% elseif weeklyLink.weekly == -1 %}
                        <b>NO WEEKLY</b>
                    {% else %}
                        <b>ANY TYPE</b>
                    {% endif %}
                </a>
            {% else %}
                <a class="btn btn-default marginbottom4px"
                   href="{{ path('jack_find_cycle_result_findbyspecific',
                   {'action': weeklyLink.url, 'symbol': symbol,
                   'weekNo': parameters.weekNo, 'month': parameters.month,
                   'leap': parameters.leap, 'weekly': weeklyLink.weekly,
                   'mini': parameters.mini, 'year': parameters.year}) }}">
                    {% if weeklyLink.weekly == 1 %}
                        WEEKLY ONLY
                    {% elseif weeklyLink.weekly == -1 %}
                        NO WEEKLY
                    {% else %}
                        ANY TYPE
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}

    </div>

</div>


