<div class="row">
    <div class="col-md-2">
        <blockquote>
            <p>Week No: </p>
        </blockquote>
    </div>

    <div class="col-md-10">
        {% for weekNoLink in weekNoLinks %}
            {% if weekNoLink.url == '#' %}
                <a class="btn btn-default marginbottom4px disabled">
                    {% if weekNoLink.weekNo == 1 %}
                        <b>1st Week</b>
                    {% elseif weekNoLink.weekNo == 2 %}
                        <b>2nd Week</b>
                    {% elseif weekNoLink.weekNo == 3 %}
                        <b>3rd Week</b>
                    {% elseif weekNoLink.weekNo == 4 %}
                        <b>4th Week</b>
                    {% elseif weekNoLink.weekNo == 5 %}
                        <b>5th Week</b>
                    {% else %}
                        <b>ANY Weeks</b>
                    {% endif %}
                </a>
            {% else %}
                <a class="btn btn-default marginbottom4px"
                   href="{{ path('jack_find_cycle_result_findbyspecific',
                   {'action': weekNoLink.url, 'symbol': symbol,
                   'weekNo': weekNoLink.weekNo, 'month': parameters.month,
                   'leap': parameters.leap, 'weekly': parameters.weekly,
                   'mini': parameters.mini, 'year': parameters.year}) }}">
                    {% if weekNoLink.weekNo == 1 %}
                        1st Week
                    {% elseif weekNoLink.weekNo == 2 %}
                        2nd Week
                    {% elseif weekNoLink.weekNo == 3 %}
                        3rd Week
                    {% elseif weekNoLink.weekNo == 4 %}
                        4th Week
                    {% elseif weekNoLink.weekNo == 5 %}
                        5th Week
                    {% else %}
                        ANY Weeks
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>