<div class="row">

    <div class="col-md-2">
        <blockquote>
            <p>Select Years:</p>
        </blockquote>

    </div>
    <div class="col-md-10">
        {% for yearLink in yearLinks %}
            {% if yearLink.url == '#' %}
                <a class="btn btn-default disabled marginbottom4px" href="#">
                    {% if yearLink.year %}
                        <b>{{ yearLink.year }}</b>
                    {% else %}
                        <b>ANY YEAR</b>
                    {% endif %}
                </a>
            {% else %}
                <a class="btn btn-default marginbottom4px"
                   href="{{ path('jack_find_cycle_result_findbyspecific',
                   {'action': yearLink.url, 'symbol': symbol,
                   'weekNo': parameters.weekNo, 'month': parameters.month,
                   'leap': parameters.leap, 'weekly': parameters.weekly,
                   'mini': parameters.mini, 'year': yearLink.year}) }}">
                    {% if yearLink.year %}
                        {{ yearLink.year }}
                    {% else %}
                        ANY YEAR
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}


    </div>

</div>


