{% extends "JackStatisticBundle::layout.html.twig" %}

{% block title %}Statistic Bundle: Daily IV Generator: Display{% endblock %}

{% block content %}
    <h2 style="background-color: darkcyan">Statistic: Daily IV Generator: Display</h2>

    <div>
        <ul>
            {% for debugResult in debugResults %}
                <li style="font-size: 0.85em;">{{ debugResult|nl2br }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
