<table>
    <tr>
        <td>
            <b style="float: left; width: 140px; height:40px;">More weekdays:</b>
            {% for searchLink in searchLinks %}
                {% if searchLink.url == '#' %}
                    <div style="float: left; width: 90px;">
                        [{{ searchLink.display }}]
                    </div>
                {% else %}
                    <a style="float: left;" href="{{ path('jack_find_underlying_result_findbyweekday',
                    {'action': searchLink.url, 'symbol': symbol, 'weekday': searchLink.weekday }) }}">
                        <div style="width: 90px;">
                            {{ searchLink.display }}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>
<br/>


