<div class="row">

    <div class="col-md-2">
        <blockquote>
            <p>By Week Day:</p>
        </blockquote>

    </div>
    <div class="col-md-10">
        {% for weekdayLink in searchLinks %}

            {% if weekdayLink.weekday|length > 1 %}
                {% set display = weekdayLink.weekday|upper %}
            {% else %}
                {% set display = 'ALL' %}
            {% endif %}

            {% if weekdayLink.url == '#' %}
                <a class="btn btn-default disabled marginbottom4px" href="#">
                    {{ display }}
                </a>
            {% else %}
                <a class="btn btn-default marginbottom4px" href="
                {{ path('jack_find_underlying_result_findbycalendar', {
                'action': weekdayLink.url, 'symbol': symbol,
                'day': date.day, 'month': date.month, 'year': date.year,
                'weekday': weekdayLink.weekday, 'week': date.week
                }) }}
                ">
                    {{ display }}
                </a>
            {% endif %}
        {% endfor %}
    </div>

</div>



