<div class="row">

    <div class="col-md-2">
        <blockquote>
            <p>By Week Day:</p>
        </blockquote>

    </div>
    <div class="col-md-10">
        {% for weekLink in searchLinks %}

            {% if weekLink.week == 0 %}
                {% set display = 'ALL' %}
            {% else %}
                {% set display = "%02s"|format(weekLink.week) %}
            {% endif %}

            {% if weekLink.url == '#' %}
                <a class="btn btn-default disabled marginbottom4px" href="#">
                    {{ display }}
                </a>
            {% else %}
                <a class="btn btn-default marginbottom4px" href="
                {{ path('jack_find_underlying_result_findbycalendar', {
                'action': 'findbycalendar', 'symbol': symbol,
                'day': date.day, 'month': date.month, 'year': date.year,
                'weekday': date.weekday, 'week': weekLink.week
                }) }}
                ">
                    {{ display }}
                </a>
            {% endif %}
        {% endfor %}
    </div>

</div>



