{% extends "JackEarningBundle::layout.html.twig" %}

{% block title %}Earning Bundle: Estimate Result{% endblock %}

{% block content %}
    HOW MUCH CONSIDER BULLISH/BEARISH? > 5%? > 85% MMM?
    HOW MUCH BETWEEN SIDEWAY? WITHIN MMM? -5~+5?

    <div class="panel panel-primary">
        <div class="panel-heading"><b>Price Estimation</b></div>


        <div class="panel-body">


            <div class="col-md-3">
                <div class="bs-callout bs-callout-success">
                    <h4>48% BULLISH <span class="glyphicon glyphicon-arrow-up"></span></h4>

                    <p>9 out of 20 earnings</p>

                    <table class="table table-hover">
                        <tr>
                            <th>Last</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Average:</td>
                            <td>3.67</td>
                            <td>+4.57%</td>
                        </tr>
                        <tr>
                            <td>Maximum:</td>
                            <td>7.1</td>
                            <td>+4.57%</td>
                        </tr>
                        <tr>
                            <td>Minimum:</td>
                            <td>1.89</td>
                            <td>+4.57%</td>
                        </tr>
                    </table>

                    <table class="table table-hover">
                        <tr>
                            <th>Reverse</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Open-Last:</td>
                            <td>40%</td>
                        </tr>
                        <tr>
                            <td>Open-High:</td>
                            <td>12%</td>
                        </tr>
                        <tr>
                            <td>Open-Low:</td>
                            <td>73%</td>
                        </tr>
                    </table>


                    <table class="table table-hover">
                        <tr>
                            <th>Open</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Average Up:</td>
                            <td>3.67</td>
                        </tr>
                        <tr>
                            <td>Maximum Up:</td>
                            <td>7.1</td>
                        </tr>
                        <tr>
                            <td>Minimum Up:</td>
                            <td>1.89</td>
                        </tr>
                    </table>
                    <table class="table table-hover">
                        <tr>
                            <th>High</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Average Up:</td>
                            <td>3.67</td>
                        </tr>
                        <tr>
                            <td>Maximum Up:</td>
                            <td>7.1</td>
                        </tr>
                        <tr>
                            <td>Minimum Up:</td>
                            <td>1.89</td>
                        </tr>
                    </table>
                    <table class="table table-hover">
                        <tr>
                            <th>Low</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Average Up:</td>
                            <td>3.67</td>
                        </tr>
                        <tr>
                            <td>Maximum Up:</td>
                            <td>7.1</td>
                        </tr>
                        <tr>
                            <td>Minimum Up:</td>
                            <td>1.89</td>
                        </tr>
                    </table>
                    <table class="table table-hover">
                        <tr>
                            <th>Quarters</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Quarter 1:</td>
                            <td>1/5</td>
                        </tr>
                        <tr>
                            <td>Quarter 2:</td>
                            <td>2/5</td>
                        </tr>
                        <tr>
                            <td>Quarter 3:</td>
                            <td>1/5</td>
                        </tr>
                        <tr>
                            <td>Quarter 4:</td>
                            <td>3/5</td>
                        </tr>
                    </table>
                    <table class="table table-hover">
                        <tr>
                            <th colspan="22">Volume Change</th>
                        </tr>
                        <tr>
                            <td>Average:</td>
                            <td>+63,484,142</td>
                        </tr>
                        <tr>
                            <td>Maximum:</td>
                            <td>+142,452,542</td>
                        </tr>
                        <tr>
                            <td>Minimum:</td>
                            <td>+43,894,371</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-md-3">
                <div class="bs-callout bs-callout-warning">
                    <h4><span class="glyphicon glyphicon-minus"></span> SIDEWAY</h4>

                    <p>
                        Paragraphs
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="bs-callout bs-callout-danger">
                    <h4><span class="glyphicon glyphicon-arrow-down"></span> BEARISH</h4>

                    <p>
                        Paragraphs
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="bs-callout bs-callout-info">
                    <h4><span class="glyphicon glyphicon-filter"></span> STATISTIC</h4>

                    <p>Close bullish strategy: </p>

                    <P>1. when next day open with 41% price up and 68% success</P>

                    <P>2. when next day high</P>

                    <p>Best to play bullish when: </p>

                    <p>Quarter 3</p>

                    <p>Quarter 4</p>

                    <p>Best to play sideway when: </p>

                    <p>Quarter 1</p>

                    <p>Best to play bearish when: </p>

                    <p>Quarter 2</p>
                </div>
            </div>

        </div>
    </div>


{% endblock %}