<h3><span class="glyphicon glyphicon-calendar"></span> Holidays Data</h3>
{% if holidays %}
    <div class="panel panel-success">
        <div class="panel-heading"><b>Holidays Table</b> (MARKET OFF, HOLIDAYS)</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                {% for holiday in holidays %}
                    <tr>
                        <td>{{ holiday.id }}</td>
                        <td>{{ holiday.date }}</td>
                        <td>{{ holiday.name }}</td>
                        <td><a href="{{ holiday.delete }}">Remove Holiday</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning"><b>EMPTY!</b> You do not add any holiday yet.</div>
{% endif %}