<div class="row">
    <div class="col-md-2">
        <blockquote>
            <p>Category:</p>
        </blockquote>
    </div>

    <div class="col-md-10">
        {% for categoryLink in categoryLinks %}
            {% if categoryLink.url == '#' %}
                <a class="btn btn-default marginbottom4px disabled">
                    {{ categoryLink.category|upper }}
                </a>
            {% else %}
                <a class="btn btn-default marginbottom4px"
                   href="{{ path('jack_find_strike_result_findbycategory',
                   {'action': categoryLink.url, 'symbol': symbol,
                   'category': categoryLink.category}) }}">
                    {{ categoryLink.category|upper }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>

